<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>王钦丰温度系统</title>
    <link rel="stylesheet" href="{{ url_for('index.static',filename='css/login.css') }}" type="text/css">
</head>
<body>

        <form action="" method="post">
            <div class="login_box">
                <input  class="user_password_input" type="text" name="user" value="User">
                <input class="user_password_input" type="text" name="password" value="PassWord">
                <input class="login_button" type="submit" value="登陆">
            </div>
        </form>

</body>
</html>