.device_box{
    display: flex;
    flex-direction: column;
    border: darkgrey 1px solid;
    border-radius: 5px;
    margin-left: 15%;
    width: 60%;
    margin-top: 20px;
}
.device_list_box{
    display:block;
    text-align: center;
    width: 95%;
    /*border: aqua 2px solid;*/
    margin-left: 10px;
}
.device_input{
    border: darkgrey 1px solid;
    border-radius: 3px;
    text-align: center;
    width: 40%;
    color: darkgrey;
}
.device_input:focus{
        border: darkgrey 1px solid;
    border-radius: 3px;
    text-align: center;
    width: 40%;
    color: black;
}
.device_input_button{
    width: 30%;
    margin-left: 35%;
}
